<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>BaJi</title>
    <!--start 引入bootstrap-->
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <script src="bootstrap-3.3.7-dist/js/jquery-3.4.1.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/Me.css">
    <!--end-->

</head>
<body class="me">

    <nav class="navbar navbar-default" style="background-color: #66afe9">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" >BaJi后台管理系统</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" action="/adminSearch" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control"  placeholder="请输入帐号名字" name="name">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown" th:if="${session.admin != null}">
                        <img src="/css/images/3.png" class="img-circle" height="30px" style="margin-top: 10px">
                    </li>
                    <li th:if="${session.admin == null}"><a href="/toLogin">登录</a></li>
                    <li class="dropdown" th:if="${session.admin != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >[[${session.admin.adminName}]]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/druid">系统监控</a></li>
                            <li><a href="/adminLoginout">退出登录</a></li>

                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid" >
        <div class="container-fluid" style="margin: 30px 50px 30px 50px;background-color: white">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
                    <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;账户</h2>
                    <hr>
                    <div class="media"  th:each="user:${users}">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-me img-rounded" th:src="${user.avatarUrl}"  onerror=src="css/images/3.png" width="38">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" >
                                <a th:href="@{'/user/'+ ${user.id}}" th:text="${user.name}" ></a>
                            </h4>
                            [[${user.accountId==null?'本地账户':'GitHub账户'}]]<br/>
                        </div>
                        <div class="media-right">
                            <button th:class="${user.status == 1?'btn btn-danger':'btn btn-success'}" onclick="blockUser(this)" th:attr="data-id=${user.id}" th:text="${user.status==1?'封停':'解封'}"></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
                    <h2><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;网站规则</h2>
                    <hr>
                    1、用户的言行不得违反《计算机信息网络国际联网安全保护管理办法》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《维护互联网安全的决定》、《互联网新闻信息服务管理规定》等相关法律规定。
                    2、在不同贴吧发帖，还需要遵循当前贴吧吧主对该吧的相关规定。
                    3、不能在贴吧中发表含有猥亵、色情、人身攻击和反政府言论等非法或侵权言论的信息；
                </div>
            </div>

        </div>
    </div>
<div th:replace="footer :: footer"></div>

</body>
<script>
    function blockUser(data) {
        var userId = $(data).attr('data-id');
        $.ajax({
           type:'GET',
           url:'/blockUser/'+userId,
           success:function (data) {
               alert(data);
               window.location.reload("http://localhost:8888/adminLogin");
           }
        });
    }
</script>
</html>