<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>BaJi</title>
    <!--start 引入bootstrap-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <script src="/bootstrap-3.3.7-dist/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/form-elements.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/Me.css">

    <!--end-->
</head>
<body style="background-color: #99CCFF">
<!-- 顶端标题 -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>膳食·家论坛</strong> Meal·home Forum</h1>
                    <div class="description">
                        <p>
                            还在为不知道吃什么而发愁么？登录论坛看大家都在吃什么！
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>登录论坛</h3>
                            <p>输入你的账户名和密码：</p>
                        </div>

                    </div>
                    <div class="form-bottom">
                        <form role="form" action="/Login" method="post" class="login-form">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">账户名</label>
                                <input type="text" name="name" placeholder="Username..."
                                       class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">密码</label>
                                <input type="password" name="password" placeholder="Password..."
                                       class="form-password form-control" id="form-password">
                            </div>
                            <span th:if="${errorMessage!=null}" th:text="${errorMessage}" style="color: red"></span>
                            <button type="submit" class="btn">登录</button>
                        </form>
                        <a type="button" class="btn" data-toggle="modal" data-target="#myModal">注册</a>
                        <a href="https://github.com/login/oauth/authorize?client_id=082ef1a6bff5e94b746a&redirect_uri=http://localhost:8888/callback&scope=user&state=1" type="button" class="btn">GitHub登录</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    注册用户信息
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" action="/registUser" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">用户名称</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="请输入名称">
                    </div>
                    <div class="form-group">
                        <label for="name">用户密码</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入名称">
                    </div>
                    <div class="form-group">
                        <label for="file">上传头像</label>
                        <input type="file" id="file" name="file">
                    </div>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭
                    </button>
                    <button type="submit" class="btn btn-primary">
                        提交更改
                    </button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div th:replace="footer :: footer"></div>
</body>
<!--<%&#45;&#45;JavaScript&#45;&#45;%>-->
<script src="/bootstrap-3.3.7-dist/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/jquery.backstretch.min.js"></script>
<!--[if lt IE 10]>
<script src="/js/placeholder.js"></script>
<![endif]-->
</html>