<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>BaJi</title>
    <!--start 引入bootstrap-->
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <script src="bootstrap-3.3.7-dist/js/jquery-3.4.1.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/Me.css">
</head>
<body class="me">
<!--start 导航条-->
<div th:replace="navbar :: navbar"></div>
<!--end导航条-->
<div class="container-fluid" >
    <div class="container-fluid" style="margin: 30px 50px 30px 50px;background-color: white">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
                <h2><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;我的收藏</h2>
                <hr>
                <div class="media"  th:each="post:${collects}">
                    <div class="media-body">
                        <h4 class="media-heading" >
                            <a th:href="@{'/post/'+ ${post.post.id}}" th:text="${post.post.title}" ></a><span th:if="${post.top == 1}" class="label label-success" style="margin-left: 10px">置顶</span>
                        </h4>
                        [[${post.post.description}]]<br/>
                        <span class="text-desc">
                            <span th:text="${post.post.commentCount}"></span>个回复 · <span th:text="${post.post.watchCount}"></span> 次浏览 · <span th:text="${#dates.format(post.post.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
                <div th:replace="WebRule :: WebRule"></div>
            </div>
        </div>

    </div>
</div>
<div th:replace="footer :: footer"></div>

</body>
</html>