<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="navbar">
        <nav class="navbar navbar-default" style="background-color: #66afe9">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">BaJi</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" action="/">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入关键字" name="search">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" th:if="${session.user != null}">
                            <a th:href="@{/profile/(action='replies')}">通知 <span class="badge" th:text="${notifyNumber}"></span></a></li>
                        <li class="dropdown" th:if="${session.user != null}">
                            <a href="/publish"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;发帖</a>
                        </li>
                        <li class="dropdown" th:if="${session.user != null}">
                            <img th:src="${session.user.avatarUrl}" onerror=src="/css/images/3.png" class="img-circle" height="30px" style="margin-top: 10px">
                        </li>
                        <li th:if="${session.user == null}"><a href="/toLogin">登录</a></li>
                        <li class="dropdown" th:if="${session.user != null}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >[[${session.user.name}]]<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li th:if="${session.user.accountId==null}"><a th:href="@{/toMeInfo/(id=${session.user.id})}">个人信息</a></li>
                                <li th:if="${session.user!=null}"><a th:href="@{/collect}">我的帖子</a></li>
                                <li><a href="/logout">退出登录</a></li>

                            </ul>
                        </li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</body>
</html>