<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title th:text="${postDTO.title}"></title>
    <!--start 引入bootstrap-->
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/editormd/css/editormd.preview.css" />
    <script src="/bootstrap-3.3.7-dist/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/editormd/editormd.js"></script>
    <script src="/editormd/lib/marked.min.js"></script>
    <script src="/editormd/lib/prettify.min.js"></script>
    <link rel="stylesheet" href="/css/Me.css">
    <!--end-->
</head>
<body class="me">
<!--start 导航条-->
<div th:replace="navbar :: navbar"></div>
<!--end导航条-->
<div class="container-fluid">
    <div class="container-fluid" style="margin: 30px 50px 30px 50px;background-color: white">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
                <!--正文-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3><span th:text="${postDTO.title}"></span></h3>
                    <span class="text-desc">
                    标签：<span th:text="${postDTO.tag}"></span> |
                    作者：<span th:text="${postDTO.user.name}"></span> |
                    发布时间：<span th:text="${#dates.format(postDTO.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> |
                    阅读数：<span th:text="${postDTO.watchCount}"></span>
                </span>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="post-view" >
                        <textarea style="display:none;" th:text="${postDTO.description}"></textarea>
                    </div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px">
                        <span class="label label-info" th:each="tag:${postDTO.tag.split(',')}" style="margin-right: 5px">
                            <span class="glyphicon glyphicon-tags"></span>
                            <span class="label label-info" th:text="${tag}" ></span>
                        </span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a th:if="${session.user !=null && session.user.id == postDTO.creator}"
                           class="edit-a full-right"
                           th:href="@{'/publish/'+ ${postDTO.id}}"><span class="glyphicon glyphicon-pencil"
                                                                         aria-hidden="true"></span>&nbsp;&nbsp;编辑</a>
                        <a th:if="${session.user !=null && session.user.id == postDTO.creator}" class="edit-a full-righ" href="#"
                           onclick="likeFunction(); return false;" ><span th:class="${color == '1'?'glyphicon glyphicon-thumbs-up changeColor':'glyphicon glyphicon-thumbs-up'}"
                                                                         aria-hidden="true" id="dianzan"></span>&nbsp;&nbsp;点赞</a>
                        <a th:if="${session.user !=null && session.user.id == postDTO.creator}" class="edit-a full-righ"
                           th:href="@{'/publish/'+ ${postDTO.id}}"><span class="glyphicon glyphicon-star-empty"
                                                                         aria-hidden="true"></span>&nbsp;&nbsp;收藏</a>
                    </div>

                </div>
                <!--回复框-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_session" th:if="${session.user!=null}">
                    <div class="media" style="margin-top: 40px">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-me img-rounded" th:src="${session.user.avatarUrl}"
                                     onerror=src="/css/images/3.png" width="38">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${session.user.name}"></span>
                            </h5>
                        </div>
                    </div>
                    <input type="hidden" id="post_id" th:value="${postDTO.id}">
                    <!--<input type="hidden" id="post_id" value="123">-->
                    <textarea class="form-control comment" id="comment_value" rows="6"></textarea>
                    <button type="button" class="btn btn-success comment-button" onclick="postComment()">回复</button>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--回复-->
                <h3>
                    <span th:text="${postDTO.commentCount}"></span>个回复
                </h3>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="comment : ${comments}"
                     style="border-bottom:1px solid #eee">
                    <div class="media" style="margin-top: 40px">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-me img-rounded" th:src="${comment.user.avatarUrl}"
                                     onerror=src="/css/images/3.png" width="38">
                            </a>
                        </div>
                        <div class="media-body" th:id="${'comment-body-'+comment.id}">
                            <h5 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h5>
                            <div th:text="${comment.commentValue}"></div>
                            <div class="menu">
                                <span class="glyphicon glyphicon-thumbs-up dianzan myIcon" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-comment myIcon" th:data-id="${comment.id}"
                                      onclick="collapseComment(this)" aria-hidden="true"
                                      th:text="${comment.commentCount}"></span>
                                <span class="pull-right"
                                      th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse"
                                 th:id="${'comment-'+comment.id}"
                                 style="border: 1px solid #eee;border-radius: 5px;margin-bottom: 10px">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px">
                                    <input type="text" class="form-control" placeholder="欢迎吐槽~"
                                           th:id="${'input-'+comment.id}">
                                    <button type="button" class="btn btn-success pull-right" style="margin: 10px 0"
                                            onclick="comment(this)" th:data-id="${comment.id}">评论
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
                    <h3>发起人</h3>
                    <div class="media" style="margin-top: 40px">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-me img-rounded" th:src="${postDTO.user.avatarUrl}"
                                     onerror=src="/css/images/3.png" width="38">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${postDTO.user.name}"></span>
                            </h5>
                        </div>
                    </div>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
                    <h4>相关问题</h4>
                    <ul th:each="related:${relatedPost}" style="list-style: none; padding: 0px">
                        <a th:href="@{'/post/'+${related.id}}" style="text-decoration: none"><li th:text="${related.title}">Cras justo odio</li></a>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<div th:replace="footer :: footer"></div>
<script>
    $(function() {
        editormd.markdownToHTML("post-view", {});
    });
    function postComment() {
        // 提交回复
        var postId = $("#post_id").val();
        var commentValue = $("#comment_value").val();
        secondComment(postId, 1, commentValue);
    }
    function secondComment(targetId, type, commentValue) {
        if (!commentValue) {
            alert("输入不能为空！");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/comment",
            contentType: "application/json",
            data: JSON.stringify({
                "parentId": targetId,
                "commentValue": commentValue,
                "type": type
            }),
            success: function (data) {
                if (data.code == 111) {
                    $("#comment_session").hide();
                    window.location.reload();
                } else {
                    if (data.code == 2003) {
                        let isTrue = confirm(data.message);
                        if (isTrue) {
                            window.open("/toLogin");
                            window.localStorage.setItem("closable", true);
                        }
                        return false;
                    }
                    alert(data.message);
                }

            },
            dataType: "json"
        });
    }
    function comment(e) {
        var commentId = e.getAttribute("data-id");
        var commentValue = $('#input-' + commentId).val();
        secondComment(commentId, 2, commentValue);
    }
    // 展开二级回复
    function collapseComment(e) {
        var id = e.getAttribute("data-id");
        var comment = $("#comment-" + id);
        var attribute = e.getAttribute("data-collapse");
        if (attribute) {
            // 折叠二级评论
            comment.removeClass("in");
            e.removeAttribute("data-collapse");
            e.classList.remove("active");
        } else {
            //展开二级评论
            var subCommentContainer = $("#comment-" + id);
            if (subCommentContainer.children().length != 1) {
                comment.addClass("in");
                //标记展开状态
                e.setAttribute("data-collapse", "in");
                e.classList.add("active");
            } else {
                $.getJSON("/comment/" + id, function (data) {
                    $.each(data.data.reverse(), function (index, comment) {
                        var mediaLeftEl = $("<div/>", {
                            "class": "media-left"
                        }).append($("<img/>", {
                            "class": "media-object img-me img-rounded",
                            "src": comment.user.avatarUrl
                            // "onerror":"src=\"/css/images/3.png\""
                        }));
                        var mediaBodyEl = $("<div/>", {
                            "class": "media-body"
                        }).append($("<h5/>", {
                            "class": "media-heading",
                            "html": comment.user.name
                        })).append($("<div/>", {
                            "html": comment.commentValue
                        })).append($("<div/>", {
                            "class": "menu"
                        }).append($("<span/>", {
                            "class": "pull-right",
                            "html": moment(comment.gmtCreate).format('YYYY-MM-DD')
                        })));
                        var mediaEl = $("<div/>", {
                            "class": "media",
                            "style": "margin-top: 40px"
                        });
                        var commentEl = $("<div/>", {
                            "class": "col-lg-12 col-md-12 col-sm-12 col-xs-12",
                            "style": "border-bottom:1px solid #eee",
                        });
                        commentEl.append(mediaEl).append(mediaLeftEl).append(mediaBodyEl);
                        subCommentContainer.prepend(commentEl);
                    })
                });
                comment.addClass("in");
                //标记展开状态
                e.setAttribute("data-collapse", "in");
                e.classList.add("active");
            }
        }
    }
    function likeFunction() {
        var postId = $("#post_id").val();
        $.ajax({
            type: "GET",
            url: "/like/"+postId,
            success: function (data) {
                var likeInfo = JSON.parse(data);
                console.log(likeInfo.likeStatus);
                if (likeInfo.likeStatus == 0){
                    $("#dianzan").css("color","#999999");
                    alert("成功取消点赞");
                }else {
                    $("#dianzan").css("color","blue");
                    alert("点赞成功");
                }
            }
        });
    }
</script>

</body>
</html>