<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>BaJi</title>
    <!--start 引入bootstrap-->
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <script src="/bootstrap-3.3.7-dist/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/Me.css">
    <!--end-->
</head>
<body class="me">
<!--start 导航条-->
<div th:replace="navbar :: navbar"></div>
<!--end导航条-->
<div class="container-fluid" >
    <div class="container-fluid" style="margin: 30px 50px 30px 50px;background-color: white">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
                <h2><span th:text="${sectionName}"></span></h2>
                <hr>
                <div th:if="${posts != null}">
                    <div  class="media" th:each="post:${posts.data}">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-me" th:src="${post.user.avatarUrl}"  onerror=src="/css/images/3.jpg" width="38">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" th:text="${post.title}"></h4>
                            [[${post.description}]]<br/>
                            <span class="text-desc">
                            <span th:text="${post.commentCount}"></span>个回复 · <span th:text="${post.watchCount}"></span> 次浏览 · <span th:text="${#dates.format(post.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </span>
                        </div>
                    </div>
                    <!--start分页条-->
                    <nav  aria-label="Page navigation" style="float: right">
                        <ul class="pagination">
                            <li>
                                <a th:href="@{/profile/(page=1,action='myPost')}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li th:if="${posts.hasAheah}">
                                <a th:href="@{/profile/(page=${posts.currentPage - 1},action='myPost')}" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li th:class="${posts.currentPage == page}?'active':''" th:each="page:${posts.pages}"><a  th:href="@{/profile/(page=${page},action='myPost')}"  th:text="${page}"></a></li>
                            <li th:if="${posts.hasNext}">
                                <a th:href="@{/profile/(page=${posts.currentPage + 1},action='myPost')}" aria-label="Previous">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/profile/(page=${posts.pages.size()},action='myPost')}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!--end分页条-->
                </div>

            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
                <div class="list-group profile-rightList">
                    <a th:href="@{/profile/(action='myPost')}" th:class="${section == 'myPost'}?'list-group-item active':'list-group-item'" th:text="${sectionName}"></a>
                    <a th:href="@{/profile/(action='replies')}" th:class="${section == 'replies'}?'list-group-item active':'list-group-item'">最新回复<span class="badge">14</span></a>
                </div>
            </div>
        </div>

    </div>
</div>



</body>
</html>