<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>post-BaJi</title>
    <!--start 引入bootstrap-->
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <script src="/bootstrap-3.3.7-dist/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/Me.css">
    <link rel="stylesheet" href="/editormd/css/editormd.min.css">
    <script src="/editormd/editormd.js"></script>
    <!--end-->
</head>
<body class="me">
<!--start 导航条-->
<div th:replace="navbar :: navbar"></div>
<!--end导航条-->
<div class="container-fluid" >
    <div class="container-fluid" style="margin: 30px 50px 30px 50px;background-color: white">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
                <h2><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;[[${post.id==null}?'发贴':'编辑']]</h2>
                <hr>
                <form action="/publish" method="post">
                    <input type="hidden" name="id" th:value="${post.id}">
                    <div class="form-group">
                        <lable for="title" style="font-weight: bold">标题 (简单扼要) :</lable>
                        <input type="text" class="form-control" id="title" name="title" placeholder="帖子标题...." th:value="${post.title}">
                    </div>
                    <div class="form-group" id="post-editor">
                        <lable for="description" style="font-weight: bold">帖子内容 (必填，参照右侧提示) :</lable>
                        <textarea class="form-control" name="description" id="description" cols="30" rows="10" th:utext="${post.description}" style="display: none"></textarea>
                    </div>
                    <div class="form-group">
                        <lable for="tag" style="font-weight: bold">添加标签</lable>
                        <input type="text" class="form-control" id="tag" name="tag" placeholder="帖子标签" autocomplete="off" th:value="${post.tag}" onfocus="openSelectTag()" >
                        <div id="select-tag" style="display: none; border-radius: 5px;border: 1px solid #eeeeee">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" th:each="tag,index:${tags}" th:class="${index.first ?'active':''}"><a th:href="'#'+${tag.tagClass}" aria-controls="home" role="tab" data-toggle="tab" th:text="${tag.tagClass}"></a></li>

                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content" style="width: 100%">
                                <div role="tabpanel" style="padding-top: 10px" th:id="${tag.tagClass}"  th:each="tag,index:${tags}" th:class="${index.first ?'tab-pane active':'tab-pane'}">
                                    <span class="label label-info" style="margin-right: 10px" th:each="select:${tag.tags}"><span class="glyphicon glyphicon-tags" onclick="selectTag(this)" th:data-tag="${select}" th:text="${select}"></span></span>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!--th:onmouseover="${user}==null?tip:''"-->
                    <button type="submit" class="btn btn-success" style="float: right" th:disabled="${session.user}==null?true:false" onmouseover="tip()" onclick="return post()">发布</button>
                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px">
                <h3>发帖规则</h3>
                1、用户的言行不得违反《计算机信息网络国际联网安全保护管理办法》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《维护互联网安全的决定》、《互联网新闻信息服务管理规定》等相关法律规定。
                2、在不同贴吧发帖，还需要遵循当前贴吧吧主对该吧的相关规定。
                3、不能在贴吧中发表含有猥亵、色情、人身攻击和反政府言论等非法或侵权言论的信息；
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: footer"></div>
<script>
    $(function() {
        var editor = editormd("post-editor", {
            width  : "100%",
            height : 350,
            path   : "/editormd/lib/",
            delay: 0,
            placeholder:'请输入帖子描述：',
            imageUpload:true,
            imageFormats:["jpg","jpeg","gif","png","bmp","webp"],
            imageUploadURL:"/file/upload"
        });
    });
    function tip() {
        if ($(".btn-success").prop("disabled")==true){
            const x = confirm("用户未登录，点击确定跳转登录页面");
            if (x==true){
                //跳转到登录页面
                $(location).attr('href', 'http://localhost:8888/');
            }else {
                return;
            }
        }
    }

    function post() {
        if ($("#title").val().trim()==""||$("#description").val().trim()==""||$("#tag").val().trim()==""){
            alert("信息不能为空");
            return false;
        }
    }

    function selectTag(e) {
        var data = e.getAttribute("data-tag");
        var previous = $("#tag").val();
        if (previous.indexOf(data) == -1){
            if (previous){
                $("#tag").val(previous+","+data);
            }else{
                $("#tag").val(data);
            }
        }
    }
    function openSelectTag() {
        $("#select-tag").show();
    }
    function closeSelectTag() {
        $("#select-tag").hide();
    }
</script>

</body>
</html>