<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="WebRule">
        <h2><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;网站规则</h2>
        <hr>
        <ul class="list-group" >
            <li class="list-group-item">1、用户的言行不得违反《计算机信息网络国际联网安全保护管理办法》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《维护互联网安全的决定》、《互联网新闻信息服务管理规定》等相关法律规定。</li>
            <li class="list-group-item">2、在不同贴吧发帖，还需要遵循当前贴吧吧主对该吧的相关规定。</li>
            <li class="list-group-item">3、不能在贴吧中发表含有猥亵、色情、人身攻击和反政府言论等非法或侵权言论的信息；</li>
            <li class="list-group-item">4、如发现有用户违反以上规定，截图留下证据，向站长邮箱进行投诉。站长核实情况，如果用户确实存在违规操作，将对该用户进行封号处理。</li>
        </ul>
    </div>
</body>
</html>